/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Theme variables */
:root {
  --bg: #171823;
  --text: #fff;
  --card: #25273c;
  --input-bg: #2a2c43;
  --border: #3a3c57;
  --primary: #4a63e7;
  --clearbtn: #ff3b3b;
  --btn: #a3a4c0;

  --logo-gradient: linear-gradient(
    135deg,
    #4a63e7 0%,
    #7b68ee 50%,
    #ff6b9d 100%
  );
}

/* Light mode */
.light-mode {
  --bg: #f2f2f2;
  --text: #222;
  --card: #fff;
  --input-bg: #fff;
  --border: #ddd;
  --primary: #4a63e7;
  --btn: #888888;

  --logo-gradient: linear-gradient(
    135deg,
    #4a63e7 0%,
    #5f7fff 50%,
    #ff6b9d 100%
  );
}

/* media queries*/
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-controls {
    width: 100%;
    flex-direction: column;
  }

  .header-controls input {
    margin-top: 1.25rem;
    width: 80%;
  }

  .header-buttons {
    width: 100%;
    justify-content: center;
  }

  .icon-btn,
  .add-btn {
    width: auto;
  }
}
